<!DOCTYPE html>
<html>
<head>
    <title>Client Home Page</title>
    <meta charset="utf-8">
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <!--jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
    <script>
        function fetchLocation() {
            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    sendLocation(pos.lat, pos.lng);
                }, function () {
                    handleLocationError(true);
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false);
            }
        }
        
        function handleLocationError(browserHasGeolocation) {
            if (browserHasGeolocation) {
                console.log("The Geolocation service failed.");
            } else {
                console.log("Browser doesn't support geolocation.");
            }
            var pos = {
                lat: parseFloat("{{ default_location[0] }}"),
                lng: parseFloat("{{ default_location[1] }}")
            };
            console.log("Using default position: " + pos);
            sendLocation(pos.lat, pos.lng);
        }

        function sendLocation(lat, lng) {
            $.ajax({
                type: "POST",
                url: "{{ url_for('clients.receive_location') }}",
                contentType: "application/json",
                data: JSON.stringify({ location: { lat: lat, lng: lng } }),
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    location.reload();
                    location.href = "{{ url_for('clients.home') }}";
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

        function sendDestination() {
            var lat = document.getElementById("destination_lat").value;
            var lng = document.getElementById("destination_lng").value;
            if (lat == "" || lng == "") {
                alert("Please enter a valid destination");
                return;
            }
            $.ajax({
                type: "POST",
                url: "{{ url_for('clients.receive_destination') }}",
                contentType: "application/json",
                data: JSON.stringify({ destination: { lat: lat, lng: lng } }),
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    id = response["id"];
                    document.getElementById("obj_id").value = id;
                    displayAdditionalInfoForm();
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

        function displayAdditionalInfoForm() {
            var additional_info_form = document.getElementsByClassName("additional_info_form")[0];
            additional_info_form.style.display = "block";
        }

        function hideAdditionalInfoForm() {
            var additional_info_form = document.getElementsByClassName("additional_info_form")[0];
            additional_info_form.style.display = "none";
        }

        function sendAdditionalInfo() {
            var id = document.getElementById("obj_id").value;
            var vehicle_type = document.getElementById("vehicle_type").value;
            var number_of_passengers = document.getElementById("number_of_passengers").value;
            var departure_time = document.getElementById("departure_time").value;
            if (vehicle_type == "" || number_of_passengers == "" || departure_time == "") {
                alert("Please fill all the fields");
                return;
            }
            $.ajax({
                type: "POST",
                url: "{{ url_for('clients.receive_additional_info') }}",
                contentType: "application/json",
                data: JSON.stringify({ additional_info: { obj_id: id, vehicle_type: vehicle_type, number_of_passengers: number_of_passengers, departure_time: departure_time } }),
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    hideAdditionalInfoForm();
                    response_id = response["id"];
                    window.location.href = "/waiting_page/" + response_id;
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
    </script>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('clients.home') }}">Client Home Page</a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('authentication.logout') }}">Log Out</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        <h2 class="mb-4">Client Home Page</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" id="flash-message">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action="javascript:;" onsubmit="sendDestination()">
            <div class="row">
                <div class="col-md-6">
                    <input type="text" name="destination_lat" id="destination_lat" class="form-control mb-2" placeholder="Enter destination latitude">
                </div>
                <div class="col-md-6">
                    <input type="text" name="destination_lng" id="destination_lng" class="form-control mb-2" placeholder="Enter destination longitude">
                </div>
            </div>
            <input type="submit" class="btn btn-outline-info" value="Submit">
        </form>
        <div class="form-group mt-2 mb-5 additional_info_form" style="display: none;">
            <form action="javascript:;" onsubmit="sendAdditionalInfo()">
                <input type="hidden" name="obj_id" id="obj_id" value="">
                <label for="vehicle_type" class="mb-2">Select your vehicle type:</label>
                <select class="form-select mb-2" name="vehicle_type" id="vehicle_type" aria-label="Select your vehicle type">
                    <option selected value="car">Car</option>
                    <option value="van">Van</option>
                    <option value="horse">Horse-drawn Carriage</option>
                </select>
                <label for="number_of_passengers" class="mb-2">Select the number of passengers:</label>
                <select name="number_of_passengers" id="number_of_passengers" class="form-select mb-2" aria-label="Select the number of passengers">
                    <option selected value="1">1</option>
                    <option value="2">2</option>
                    <option value="4">4</option>
                </select>
                <label for="departure_time" class="mb-2">Select your departure time:</label>
                <script>
                    var today = new Date();
                    var time = today.getHours() + ":" + today.getMinutes();
                    document.write('<input type="time" class="form-control mb-2" id="departure_time" name="departure_time" value="' + time + '">');
                </script>
                <input type="submit" class="btn btn-outline-info" value="Submit">
            </form>
        </div>
    </div>

    <div id="map" class="container" style="width: 100%; max-width: 800px;">
        {% if not fetched_location %}
            <script>
            fetchLocation();
            </script>
        {% endif %}
        {{ map|safe}}
    </div>
</body>
</html>
    