<!DOCTYPE html>
<html>
    <head>
        <title>Driver Home Page</title>
        <meta charset="utf-8">
        <!-- Leaflet CSS -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
        <!--jquery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>
    <script>
        function fetchLocation() {
            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    sendLocation(pos.lat, pos.lng);
                }, function () {
                    handleLocationError(true);
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false);
            }
        };
        
        function handleLocationError(browserHasGeolocation) {
            if (browserHasGeolocation) {
                console.log("The Geolocation service failed.");
            } else {
                console.log("Browser doesn't support geolocation.");
            }
            var pos = {
                lat: parseFloat("{{ default_location[0] }}"),
                lng: parseFloat("{{ default_location[1] }}")
            };
            console.log("Using default position: " + pos);
            sendLocation(pos.lat, pos.lng);
        };

        function sendLocation(lat, lng) {
            console.log("Sending location: " + lat + ", " + lng);
            $.ajax({
                type: "POST",
                url: "{{ url_for('drivers.receive_driver_location') }}",
                contentType: "application/json",
                data: JSON.stringify({ location: { lat: lat, lng: lng } }),
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    location.reload();
                },
                error: function (err) {
                    console.log(err);
                }
            });
        };

    </script>
 <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('drivers.driver_home') }}">Driver Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
             aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
             </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" aria-current="page" href="{{ url_for('drivers.driver_home') }}">Home</a>
                    <a class="nav-link" href="{{ url_for('authentication.logout') }}">Logout</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="container mt-3 justify-content-center">
            <h2>Welcome {{ driver_name }},</h2>
            <h3>There are {{ num_orders }} available orders</h3>
        </div>
        <div class="container mt-3">
            <div id="map" style="width: 100%; max-width: 800px;">
                {% if not sent_location %}
                    <script>
                    fetchLocation();
                    </script>
                {% endif %}
                {{ map|safe}}
            </div>
        </div>
    </div>
</body>
</html>